.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    background-color: forestgreen;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .header-left-side{
        display: flex;
        font-size: 20px;
        cursor: pointer;
        flex-direction: row;
    }
    .header-right-side{
        display: flex;
        flex-direction: row;
        .header-selection{
            padding-right: 1rem;
            font-size: 20px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}